h1 {
    color: pink;
    font-size: 60px;
}

.favouriteStyle {
    --ion-background-color: #3B7E88;
    margin: 10px;
    text-align: "center";
}

.listStyle {
    --ion-background-color: #3B7E88;
    margin: 10px;
    text-align: "center";
}